{% extends 'base.html.twig' %}

{% block title %}Product!{% endblock %}

{% block body %}


<style>
.dropdown-item {
    display: block;
    width: 100%;
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    clear: both;
    font-weight: 600;
    color: var(--bs-dropdown-link-color);
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}   

.h2.h2{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
    color: black;
} 
</style>

<section class="section gallery">
  <div class="container">
  <h2 class="h2 text-center">Products Of Us </h2>
    {% for br in brand %}
                <h3><a class= "dropdown-item" href="{{ path('app_brand', {id:br.id})}}">{{br.namecate}}<a/> </h3>
            {% endfor %}
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h1 class="font-weight-bold"></h1>
      </div>
      <div class="container-fluid">
        <div class="row justify-content-center">
            {% for p in pro %}
            <div class="card col-3 mx-2 d-flex" style="width: 18rem;">
            {% set img = p.image %}
                <img src="{{asset('uploads/'~img)}}" class="card-img-top" alt="..." height="350px">
        
                <div class="card-body">
                    <a class="card-title" href="{{ path('product_detail', {'id': p.id}) }}" >{{ p.namep }}</a>
                    <p class="card-text">{{ p.pricep }}$</p>
                </div>
            </div>
                {% endfor %}
        </div>
    </div>
    </div>
  </div>
</section>

<script src="plugins/jquery/jquery.js"></script>

<script src="plugins/bootstrap/bootstrap.min.js"></script>

<script src="plugins/slick/slick.min.js"></script>

<script src="js/script.js"></script>
</body>
</html>
{% endblock %}